@charset "UTF-8";

:root{
    --mainwidth: 250px;
}

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}



body{
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to bottom, rgb(163, 39, 39), rgb(29, 29, 168));
}

main{
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    width: var(--mainwidth);
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

form{
    margin: 0;
    padding: 15px;
    background-color: whitesmoke;
    border-radius: 0 0 20px 20px;
    text-align: center;
}

main h1{
    text-align: center;
    margin-bottom: 10px;
    font-size: 1.5em;
}

main h2{
    font-size: 0.76em;
    font-weight: normal;
    margin-bottom: 5px; 
    text-align: start;
    line-height: 1.5em;
}

main p{
    margin-bottom: 6px;
}

form a{
    text-decoration: none;
    text-align: center;
    color: #53AAA7;
}

#decor{
    background-image: url(metal.jpg);
    background-size: cover;
    background-position: center bottom;
    width: var(--mainwidth);
    height: 220px;
    border: 0;
    border-radius: 20px 20px 0 0;

}

#ilogin{
    width: 100%;
    height: 40px;
    margin-bottom: 1px; 
    border-radius: 10px;
    border: 2px solid #53AAA7;
    background-color: #53AAA7;
    color: whitesmoke;
    font-size: 1em;
}

#iemail, #isenha{
    width: 174px;
    height: 35px;
    border-radius: 8px;
    border: none;
    background-color: #aee6e4;
}

#psenha, #pemail{
    background-color: #612267;
    padding: 2px 4px;
    border-radius: 8px;
    border-color: #612267;
}


#pesq{
    border: 2px solid #53AAA7;
    padding: 10px; 
    width: 100%;
    margin: auto;
    text-align: center;
    border-radius: 10px;
    vertical-align: bottom;
    color: #53AAA7;
    margin-bottom: 20px;
}

#pesq span{
    font-size: 18px;
}

.purple-icon{
    font-size: 33px;
    color: whitesmoke;
}

.inline-icon{
    vertical-align: bottom;
}
